<ion-content no-margin>
  <ion-grid no-padding>
    <ion-row no-margin>
      <ion-col class="colmn" no-margin>
        <div class="stickyprofile">
          <div class="profile">
            <img class="img" src="assets/images.jpg">
            <div class="title">
              <h4 class="h4">{{name.name}}</h4>
              <h6 class="h6">{{name.pos}}</h6>
            </div>
            <div class="buttons">
              <button class="message">About me!</button>
              <button class="message">Message</button>
            </div>
          </div>
          <div class="tabs">
            <div class="Mywork" (click)="onclickMywork()" [ngStyle]="{'border-bottom-style':getStyle('A'),'border-bottom-color':getColor('A')}">
              <h4 class="tabs" [ngStyle]="{'color':gettabColor('A')}">My work</h4>
            </div>
            <div class="details" (click)="onclickDetailswork()" [ngStyle]="{'border-bottom-style':getStyle('B'),'border-bottom-color':getColor('B')}">
              <h4 class="tabs" [ngStyle]="{'color':gettabColor('B')}">Details</h4>
            </div>
          </div>
        </div>
      </ion-col>
      <div class="tabs">
        <div class="Grid" *ngIf='images'>
          <div class="row">
            <div class="column" *ngFor="let img of name.images">
              <img [src]="img.url" (click)="presentModal(img.url)" style="width:100%">
              
            </div>
            <div class="column">
              <img src="/assets/8.jpeg" style="width:100%">
              <img src="/assets/9.jpeg" style="width:100%">
              <img src="/assets/10.jpeg" style="width:100%">
              <img src="/assets/11.jpeg" style="width:100%">
              <img src="/assets/12.jpeg" style="width:100%">
              <img src="/assets/1.jpeg" style="width:100%">
            </div>
            <div class="column">
              <img src="/assets/2.jpeg" style="width:100%">
              <img src="/assets/3.jpeg" style="width:100%">
              <img src="/assets/5.jpeg" style="width:100%">
              <img src="/assets/4.jpeg" style="width:100%">
              <img src="/assets/6.jpeg" style="width:100%">
              <img src="/assets/7.jpeg" style="width:100%">
              <img src="/assets/9.jpeg" style="width:100%">
            </div>
            <div class="column">
              <img src="/assets/9.jpeg" style="width:100%">
              <img src="/assets/8.jpeg" style="width:100%">
              <img src="/assets/6.jpeg" style="width:100%">
              <img src="/assets/4.jpeg" style="width:100%">
              <img src="/assets/2.jpeg" style="width:100%">
              <img src="/assets/1.jpeg" style="width:100%">
            </div>
          </div>
        </div>

      </div>
      <div class="Grid" *ngIf='details'>
        <div class="row">
          <div class="column">
            <ion-card class="cardproperties">
              <h4 class="name">Shaheer khan</h4>
              <h6 class="designation">Designation</h6>

              <div class="container">
                <h4 class="conttabnames" (click)="onclickbtn('A')"
                  [ngStyle]="{'border-bottom-style':getSty('A'),'border-bottom-color':getCol('A'),'color':getCol1('A')}">
                  About</h4>
                <h4 class="conttabnames" (click)="onclickbtn('B')"
                  [ngStyle]="{'border-bottom-style':getSty('B'),'border-bottom-color':getCol('B'),'color':getCol1('B')}">
                  Contact</h4>
                <h4 class="conttabnames" (click)="onclickbtn('C')"
                  [ngStyle]="{'border-bottom-style':getSty('C'),'border-bottom-color':getCol('C'),'color':getCol1('C')}">
                  Address</h4>
                <h4 class="conttabnames" (click)="onclickbtn('D')"
                  [ngStyle]="{'border-bottom-style':getSty('D'),'border-bottom-color':getCol('D'),'color':getCol1('D')}">
                  MailingAddress</h4>
                
              </div>
              
              <div class="conttabs" *ngIf='About'>
                  
                <p class="aboutstyle">The firm has been practicing since 1993-94 with a Liaison office in Quetta. Icon Architecture and
                  Design provides a wholistic service including architecture, interior design and urban planning (Refer
                  PROJECTS) to fulfill the needs of our clients for commercial, residential, institutional, health and
                  corporate projects.{{name.About}}</p>
              </div>
              
              <div class="conttabs" *ngIf='Contact'>
                <div class="contact information">
                  <p class="number">{{name.contactDetails}}</p>
                  <div class="tabs">
                    <div class="numberdiv" (click)="onclickMywork()">
                      <h4 class="numberbtn">Call me!</h4>
                    </div>
                    <div class="numberdiv" (click)="onclickDetailswork()">
                      <h4 class="numberbtn">Leave a message</h4>
                    </div>

                  </div>
                </div>
              </div>
              <div class="conttabs" *ngIf='Address'>
                <div class="Address">
                  <p>{{name.Address}}</p>
                  <button class="copyemailbtn">Copy Address!</button>
                </div>
              </div>
              <div class="conttabs" *ngIf='MailingAddress'>
                <div class="MAddress">
                 <p class="email">{{name.mailingAddress}}</p>
                 <button class="copyemailbtn">Copy email!</button>
                </div>
              </div>
            </ion-card>
            <div class="aboutitle">
                <ion-title class="Rtitle">Review</ion-title>
  
                <div class="rating">
                  <span *ngFor="let star of [0,1,2,3,4], let i = index" [ngStyle]="{'color':getC(star)}"
                    class="fa fa-star "></span>
  
                </div>
  
              </div>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>