<ion-content no-margin>
  <ion-grid no-padding>
    <ion-row no-margin>
      <ion-col no-margin>
        <ion-card class="maincard" no-margin>
          <ion-card class="background" no-margin>
            <img class="imagB" src="assets/image3.jpg">
            <div class="profile">
              <img class="img" src="assets/images.jpg">
              <div class="title">
                <h4 class="h4">ASASA TECH</h4>
                <h6>Address</h6>
              </div>
            </div>
          </ion-card>
          <div class="aboutcard">
            <div class="aboutitle">
              <ion-title class="Rtitle">Rating</ion-title>
              
              <div class="rating" >
                  <span *ngFor="let star of [1,2,3,4,5], let i = index" class="fa fa-star checked"></span>
                  
              </div>

            </div>
            <div class="cardcontent">
              <div class="aboutt">
                <ion-title>About us</ion-title>
              </div>
              <div class="description">
                "Asasa.com gives you a platform to visit portfolios of the top-notch architects from all over Pakistan and
              select the one that suits you best to design your Dream Home. We've the most experienced architects with
              us on board, See their past works here below and let us know how can we facilitate you to design your home
              so you can enjoy the best living experience"
              </div>
            </div>
            <div class="cardcontent">
              <div class="aboutt">
                <ion-title>About us</ion-title>
              </div>

            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>